@import url (https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url (https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps);
/* @import allows your to import other css code right into that line^
make sure to check how to use the fonts & add a fallback font of the first one doesnt work:
  font-family: 'Elsie Swash Caps', cursive;

*/



/* This is a comment! */

/* CSS Syntax:

selector {
  property: value;
  property: value;
}

*/

/* Type selector

p { /* select all <p> */
  font-size: 1em; /* =16px; /* 16px(exact amount regardless of browser), ?pt(12pt in word may not be same in safari),
   100%(relative amount -- dependent on element itswelf & parent elements above it),
   1em(1em = 16px -- em> px good in responsive design)*/

   line-height: 1.5em
   /*^ changes height in btwn each line in p. */
}
   figcaption {
     /*font-weight: normal;
     font-size: 0.75em;  /* compared to 1em, its smaller */
     /*line-height: 1.5em;
     font-family: Georgia, "New Times Roman", serif;*/
     /*^ falls back on the diff fonts if it's not available. -- figcaption got smaller & has georigia font */

     /* you can comment out all above & write it like this: */
     font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
     color: #777;
     text-align: right;


      /*you can directly write out color or use hexidecimal system:
      #000000
      #6 digits, 0-9 or A-F, first 2 = red, second 2 = green, last 2 = blue
        or #FF0000 = RED, 00FF00 = GREEN , 0000FF
        or use RGBA values (255,0,0,1) = red, 100% opaque (last value = opacity)
      */
}

/* Class selector (applied to as many elements  as you like, + diff kind of elements)
  unlike type selectors good for styling 1 style of elements, ^ class selectors, can be added anywhere & diff types */

  .milk-text { /* select elemnts with class(attr)="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;

  }
